h1 {
    font-family:'Times New Roman', Times, serif; 
    font-weight: 2em;
     text-align: center;
     color: rgb(199, 52, 52);
     font-size: 50px; 
     border: solid 1px; 
     color: green;
}
h2 {
    font-family: 'Times New Roman', Times, serif;
     font-weight: 2em;
     text-align: left; 
     color: rgb(35, 65, 35);
      font-size: 30px;
      border: solid 1px; 
      color: green;
       margin-right: 19cm;
}
body {
     background-color:rgb(104, 199, 104);
     margin: 2ch;
     padding: 2ch;
}
p {
     color: rgb(27, 39, 6);
     font-style: calc(darkgreen); 
     font-size:x-large; 
     font-style: italic;
}
video {
     border: solid 3px; color: rgb(11, 126, 91); 
     margin-right: 2em;
     margin-left: 2em;
}
img { 
     border: solid 4px;
     color: green;
     margin-left: 2em;
     margin-right: 2em; 
}


 
